{% extends "main.html" %}

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />

<!-- Tabs -->
{% block tabs %}{% endblock %}

<!-- Content -->
{% block content %}

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />
<!-- Hero for landing page -->
<section class="mdx-container">
    <div class="md-grid md-typeset">
        <div class="mdx-hero">
            <section>
                <div class="home-hero">
                    <div class="home-hero-text">
                        <a href="overview/overview/">
                            <div>
                                <h2 style="text-align: center; color: white; margin-top: 0">Get started</h2>
                                <ul style="list-style-type: none; color: white">
                                    <li>Accelerate time to value using modern DevSec(Comp)Ops practices</li>
                                    <li>Customize the development experience and toolchain to the environment</li>
                                    <li>Leverage the enhanced developer experience provided by Red Hat OpenShift</li>
                                    <li>Contribute accelerators along the software development lifecycle (SDLC)</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                    <div class=home-hero-image>
                    </div>
                </div>
            </section>
            <section>
                <div class="home-description">
                    <div class='row' style="padding-top: 1rem">
                        <div class='column'>
                            <a href="resources/workshop/workshop/">
                                <div class="card">
                                    <div>
                                        <img src="assets/images/learn-min.jpg" width="100%" />
                                    </div>
                                    <div>
                                        <h4 style="text-align: center; color: white">Learn</h4>
                                        <ul style="list-style-type: none; text-align: center; color: white">
                                            <li>Understand how to quickly create a development environment</li>
                                            <li>Get hands-on experience building cloud-native applications</li>
                                            <li>Learn how to customize your development environment</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class='column'>
                            <a href="adopting/adopting/">
                                <div class="card">
                                    <div>
                                        <img src="assets/images/catalyst.png" width="100%" />
                                    </div>
                                    <div>
                                        <h4 style="text-align: center; color: white">Apply</h4>
                                        <ul style="list-style-type: none; text-align: center; color: white">
                                            <li>Dig deeper into the technologies that support the software development lifecycle</li>
                                            <li>Get support for advanced use cases</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class='column'>
                            <a href="reference/reference/">
                                <div class="card">
                                    <div>
                                        <img src="assets/images/resources-min.jpg" width="100%" />
                                    </div>
                                    <div>
                                        <h4 style="text-align: center; color: white">Resources</h4>
                                        <ul style="list-style-type: none; text-align: center; color: white">
                                            <li>Get resources to help build cloud-native applications</li>
                                            <li>Build customized development experiences</li>
                                            <li>Join the community and help expand supported use cases</li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
            </section>
            </div>
        </div>
</section>
{% endblock %}

<!-- Application footer -->
{% block footer %} {{ super() }} {% endblock %}
