
div[class*='page-header'] {
    --height: 6rem;
}

h1[id*='page-title'] {
    font-size: 2em;
}

h3[class*='Markdown-module--h3'] {
    margin-top: 0;
}

h3[class*='Markdown-module--h2'] {
    margin-top: 1em;
}
